html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
  margin: 0
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
  text-align: center;
}

h1 {
  font-family: 'Sigmar One', cursive;
  color: #b20953;
  font-size: 3rem;
  margin: 0;
  padding: .2em;
}

nav {
  font-family: Georgia, serif;
  margin: 0;
  padding: .2em;
}

nav li {
  display: inline-block;
  background-color: #b2a212;
  border-radius: 4px;
  padding: .3em;
}

nav li:hover {
  background-color: #cc1465;
  border-radius: 4px;
  padding: .3em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #fff;
  font-size: 1.125rem;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-family: 'Sigmar One', cursive;
  color: #b20953;
  font-size: 1.875rem;
  padding: .5em;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  padding: .5em;
}

.para {
  padding: .5em;
  font-size: 1.125rem;
  margin: 0;
}

footer {
  background-color: #ffe500;
  font-size: .75rem;
  text-align: center;
}
