html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  text-align: center;
}

h1 {
  font-family: 'Sigmar One', cursive;
  color: #b20953;
}

h2 {
  font-family: 'Sigmar One', cursive;
  color: #b20953;
}

nav {
  font-family: Georgia, serif;
}

nav li {
  display: inline-block;
  color: #fff;
}

nav a:hover {
  background-color: #cc1465;
}
